body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
    padding: 5px;
    background-color:skyblue;
}

.header_avatar {
    border-radius: 60%;
    display: block;
    width: 7rem;
    height: 7rem;
    margin-right: 0.5rem;
}
/*contact & projects*/

.Internal_Links {
    padding: 60px;
    text-align: center;
    background-color:aliceblue;
    font-size: 40px;
    font-style:oblique;
    border-style: dotted;
    border-radius: 30%;
}

h1 {
    font-size: 50px;
}

/*Images*/

img {
    border-style: groove;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

/*About me Section*/

#about_me {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    background-color: khaki;
    }

.about_me_header {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Pacifico', cursive;
}

.about_me_paragraph {
    text-align: center;
    line-height: 1.4;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
}
