body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
    padding: 5px;
    background-color:steelblue;
}

.header_avatar {
    border-radius: 60%;
    display: block;
    width: 7rem;
    height: 7rem;
    margin-right: 0.5rem;
}
/*contact & projects*/

.Internal_Links {
    padding: 30px;
    text-align: center;
    background-color:aliceblue;
    font-size: 40px;
    font-style:oblique;
    border-style: groove;
    border-radius: 30%;
}

h1 {
    font-size: 50px;
}

/*Images*/

#Images {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    padding: 20px;
    background-color: tan;
}

.column {
    max-width: 50%;
    width: 50%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 15px;
}

/*About me Section*/

#about_me {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    background-color: #E1E8ED;
    opacity: 0.8;
    }

.about_me_header {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Pacifico', cursive;
}

.about_me_paragraph {
    text-align: center;
    line-height: 1.4;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
}

/*Qualities*/

