* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
    padding: 5px;
}

body {
    background-color: #4682B4;
}

.header_avatar {
    border-radius: 60%;
    display: block;
    width: 7rem;
    height: 7rem;
    margin-right: 0.5rem;
}
/*contact & projects*/

.Internal_Links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color:aliceblue;
    font-size: 40px;
    font-style:oblique;
    border-style: groove;
    border-radius: 30%;
}



h1 {
    font-size: 50px;
    color: #464bb4
}

/*Images*/

#Images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.column {
    justify-self: center;
    align-self: center;
    margin: 50px;
    border-style: groove;
}

/*About me Section*/

#about_me {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    padding: 20px;
    background-color: #46b4af
    }

.about_me_header {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Pacifico', cursive;
}

.about_me_paragraph {
    text-align: center;
    line-height: 1.4;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
}

/*Qualities Hobbies & Interests*/

#Qualities_Hobbies
{
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    padding-left: 350px;
}

.Qualities_Hobbies_Header {
    font-size: 35px;

}

.Li {
    font-style: italic;
    font-size: 18px;
}

.Contact_Me {
   font-size: 25px; 
   color: white;
   display: flex;
   flex-direction: row;
   padding-left: 600px;
   padding-bottom: 10px;
   padding-top: 10px;
   background-color: lightslategrey;
}